{% include 'base/header.html' %}

<div id="gameReview">

  {% if game.state == 'NEW' %}
    <header>Game has not been played</header>
  {% endif %}

  {% if game.state == 'PLAYING' %}
    <header>Game in progress, results unavailable</header>
  {% endif %}

  {% if game.state == 'FINISHED' %}

    {% if game.mode == 'TEAMS' %}
    {% for team in teams %}

    <div>
      <h2>{{team.name}} {{team.score}}</h2>
      <table>
        <thead>
          <tr>
            <th>Place</th>
            <th>Username</th>
            <th>Score</th>
            <th>Shots Fired</th>
          </tr>
        </thead>
        <tbody>
          {% for player in players %}
          {% if player.team == team %}

          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{player.player.username}}</td>
            <td>{{player.score}}</td>
            <td>{{player.num_shots}}</td>
          </tr>

          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% endfor %}
    {% endif %}

    {% if game.mode == 'JUGGERNAUT' %}
    <div>
      <h2>Juggernaut</h2>
        <table>
          <thead>
            <tr>
              <th>Place</th>
              <th>Username</th>
              <th>Score</th>
              <th>Shots Fired</th>
            </tr>
          </thead>
          <tbody>
            {% for player in players %}

            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{player.player.username}}</td>
              <td>{{player.score}}</td>
              <td>{{player.num_shots}}</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
    </div>
    {% endif %}

  {% endif %}

  <div class="sp-button" goto="">Back</div>

</div>

{% include 'base/footer.html' %}
