html, div {
	background-color: black;
}

header {
	font-size: 2rem;
	padding: 1rem;
	color: white;
}

.sp-button {
	background-color: white;
	width: 15%;
	margin-left: 42.5%;
	margin-top: 1%;
	cursor: pointer;
	padding: 1.5% 1%;
}

.sp-button:hover {
	background-color: hsl(210, 100%, 75%);
}

.game-list {
	width: 30%;
	padding: .5rem 0;
	margin-left: 35%;
	background-color: white;
	border-bottom: 1px solid black;
}

.game-list:hover {
	cursor: pointer;
	background-color: hsl(570, 100%, 75%);
}

#gameReview {
	text-align: center;
	background-color: black;
}

#gameReview div h2 {
	color: white;
	font-weight: lighter;
}

#gameReview table {
	width: 60%;
	margin-left: 20%;
	font-size: 1.2vw;
}

#gameReview th, td {
	text-align: center;
	background-color: white;
	border-top:1px solid black;
	color: black;
	padding: 2%;
}

#gameReview th {
	color: hsl(210, 30%, 23%);
	width: 20%;
}

#newGame {
	width: 60%;
	margin-left: 20%;
	text-align: center;
}

#newGame h3 {
	color: white;
	font-weight: lighter;
}

#newGame button {
	margin-bottom: .5em;
	padding: .4em .6em;
	background-color: white;
	border: none;
	border-radius: 3px;
	font-size: 1.4rem;
}

#newGame input {
	height: 1.8rem;
	font-size: 1rem;
}

#newGame table {
	width: 100%;
}

#newGame td {
	padding: 0;
	height: 2.5rem;
}

#newGame td select {
	margin-top: .5rem;;
}

#newGame table select {
	height: 2em;
	width: 15rem;
}